<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Web App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <h1>Expenses Web App</h1>
            <nav>
                <ul>
                    <li><a href="#">Balance</a></li>
                    <li><a href="#">Transactions</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Balance</h2>
            <hr>
            <br>
            <div class="balance">
                <h3>Current Balance</h3>
                <p>$0.00</p>
            </div>
            <hr>
            <br>

            <div class="newExpense">
                <h3>New Expense</h3>
                <fieldset>
                    <legend>Who Paid?</legend>
                    <input type="radio" id="tyler" name="payer" value="tyler" v-model="payer">
                    <label for="tyler">Tyler</label>
                    <input type="radio" id="adi" name="payer" value="adi" v-model="payer">
                    <label for="adi">Adi</label>
                </fieldset>
                <fieldset>
                    <legend>Expense Name</legend>
                    <input type="text" id="expenseName" name="expenseName" placeholder="Expense Name"
                        v-model="expenseName">
                </fieldset>
                <fieldset>
                    <legend>Expense Amount</legend>
                    <input type="number" id="expenseAmount" name="expenseAmount" placeholder="Expense Amount"
                        v-model="expenseAmount">
                </fieldset>
                <br>
                <div class="buttonRow">
                    <button class="addButton" v-on:click="addExpense">Add
                        Expense</button>
                    <button class="clearButton" type="button" @click="clearExpenses">Clear Expenses</button>
                </div>
            </div>
            <div id="expenseTable"></div>
    </div>
    </main>
    <footer>
        <p>Copyright © 2023 Expenses Web App</p>
    </footer>
    </div>


</body>

</html>