/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body,
details,
footer,
p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: gray;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(8, 243, 251);
  background: linear-gradient(
    90deg,
    rgba(8, 243, 251, 1) 0%,
    rgba(215, 45, 253, 1) 100%
  );
  color: #fff;
  background-color: none;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
}

main {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
}

.buttonRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tryAgain,
#addButton {
  background: rgb(8, 243, 251);
  background: linear-gradient(
    90deg,
    rgba(8, 243, 251, 1) 0%,
    rgba(215, 45, 253, 1) 100%
  );
}

.buttonRow button {
  color: #fff;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}

.buttonRow .addButton {
  transform: scale(1.5);
}

.buttonRow .clearButton {
  background-color: #dc3545;
}

details {
  margin-left: 5px;
}

#expenseTable {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: rgb(199, 199, 199);
}
.deleteButton {
  width: 50px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
}
